*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: poppins, sans-serif;
}
:root{
    --bg-color: #313131;
    --second-bg-color: #151515;
    --text-color: rgb(255, 255, 255);
    --main-color: rgb(182, 2, 2);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 5%;
    padding-left: 2rem;
    background: rgba(160, 160, 160, 0.996);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.header img{
    width: 170px;
    padding: 0;
    margin: 0;
    height: 90px;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: darkblue;
    border-bottom: 3px solid darkblue;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}
#menu-icon{
   font-size: 3.6rem; 
   color: var(--main-color); 
   display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
#showcase{
    background: url(./img/florbal.jpg) no-repeat center center/cover;
    height: 100vh;
}
#showcase.showcase{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}
.heading{
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

#showcase h1{
    font-size: 7rem;
    opacity: 1;
}
#showcase p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 5rem;
    font-weight: 500;
}
#zaklady{
    margin: auto;
    padding: -3rem 2rem;
    overflow: hidden;
}

#zaklady .items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2rem;
    margin: 2rem;
    cursor: pointer;
    margin-top: 6rem;
}

#zaklady .item{
    position: grid;
    text-align: center;
    width: 250px;
    font-size: 1.5rem;
}

#zaklady .item:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    top: -10px;
    transition: all 0.5s ease;
    transform: scale(1.1);
    border-radius: 10px;
}

#zaklady .items .item i {
    background-color: rgb(255, 6, 19);
    border-radius: 50%;
    margin: 1rem 0;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
    font-size: 30px;
}

#zaklady span{
    font-size: 22px;
    color: rgb(255, 6, 19);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
#zaklady h2{
    margin-top: -7rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}
.footer{
    padding: 0;
    margin: 0
}
.footer-content{
    background-color: hsl(0, 0%, 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
footer img{
    width: 150px;
    float: left;
}

footer img .eufondy-removebg-preview{
    width: 180px;
    float: left;
}
#careers .item:hover .overlay {
    width: 100%;
}
#careers .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#careers .item {
    position: relative;
    background-color: var(--second-bg-color);
    padding: 0.3rem;
    margin-bottom: 2rem;
}
#careers img{
    width: 300px;
}
#careers .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hwb(0 0% 0%);
    border-radius: 10px;
    
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    cursor: pointer;
}
#careers .text {
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#careers{
    background-color: var(--second-bg-color);
}
#careers h2{
    margin-bottom: 12rem;
}
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.contact-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 7rem;
}
#contact ul {
    margin: 0.5rem 0;
    list-style: none;
    padding: 3rem;
    background-color: var(--main-color);
    border-radius: 1.5rem;
}
#contact  li {
    padding: 0.5rem 0;
    border-bottom: white dotted 2px;
    font-weight: 500;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}
.contact ul:hover{
    transform: scale(1.1);
    transition: 0.3 ease-in-out;

}
@media (max-width: 1285px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(158, 158, 158, 0.6);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--bg-color);
        border-bottom: 2px solid var(--bg-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    #zaklady .items{
        flex-wrap: wrap;
        gap: 40px;
    }
    #zaklady.item{
        width: 100%;
    }
    #careers.items{
        flex-wrap: wrap;
        gap: 40px;
    }
    #contact .contact-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .heading{
        font-size: 6rem;
        font-weight: 800;
    }
}